<div class="floating-button">
  <a href="/collections" class="button button--primary">{{ section.settings['floating-btn-text'] }}</a>
</div>

{% stylesheet %}
   .floating-button {
      position:fixed;
      bottom: 40px;
      right: 50%;
   }

  .floating-button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    background-color: #0590e3;
    box-shadow: 2px 2px 3px #999;
  }
{% endstylesheet %}

{% schema %}
{
    "name": "Floating Button",
    "settings": [
        {
            "type": "text",
            "id": "floating-btn-text",
            "label": "Free Consultation",
            "default": "content"
        }
    ],
    "presets": [
        {
            "name": "Floating Button"
        }
    ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
