<div class="floating-button">
  <a href="/pages/free-consultation" class=""
    ><span>{{ section.settings['floating-btn-text'] }}</span></a
  >
</div>

{% stylesheet %}
    .floating-button {
      display: none;
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
    }

    .floating-button a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 0;
      padding: 0 2.6rem;
      cursor: pointer;
      font-size: 1.4rem;
      letter-spacing: .1rem; font-weight: 500;
      line-height: calc(1 + .2 / var(--font-body-scale));
      text-decoration: none;
      color: #fff;
      transition: box-shadow var(--duration-short) ease;
      -webkit-appearance: none;
      appearance: none;
      background: rgba(0, 84, 172, 0.75);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(0, 84, 172, 0.3);
      /* background: #0590e3; */
      /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.3); */
      min-width: calc(12rem + var(--buttons-border-width) * 2);
      min-height: calc(4.5rem + var(--buttons-border-width) * 2);
      animation: fadeIn 400ms ease-in both;
    }

    .floating-button span::after {
      content: '';
      height: 3px;
      width: 24px;
      background: #fff;
      border-radius: 5px;
      display: block;
      margin: 2px auto;
    }

    @keyframes fadeIn {
  	from {
  		opacity: 0;
  	}
  	to {
  		opacity: 1;
  	}
  }

      @media screen and (min-width: 600px) {
         .floating-button {
           display: none;
       }
    }
{% endstylesheet %}

{% javascript %}
  const mediaQuery = window.matchMedia('(max-width: 600px)');
  const floatingBtn = document.querySelector(".floating-button");

  console.log(mediaQuery);

  let updateFloatingBtn = () => {
    var y = window.scrollY;

    if (y >= 200 && mediaQuery.matches) {
      floatingBtn.style.display = 'block';
    } else {
      floatingBtn.style.display = 'none';
    }
  };

  // Initial call to set the display state based on the media query
  updateFloatingBtn();

  // Add a listener to the mediaQuery object to update the floatingBtn when the media query state changes
  mediaQuery.addListener(updateFloatingBtn);

  window.addEventListener("scroll", updateFloatingBtn);
{% endjavascript %}

{% schema %}
{
    "name": "Floating Button",
    "settings": [
        {
            "type": "text",
            "id": "floating-btn-text",
            "label": "Free Consultation",
            "default": "content"
        }
    ],
    "presets": [
        {
            "name": "Floating Button"
        }
    ]
}
{% endschema %}
