<div class="logo-slider-container">
  <hr>
  <section class="logos-slider slider">
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
    <div class="slide"><img src="https://logopond.com/logos/dc5cc8314658dcbce4536affc4772f78.png"></div>
  </section>
  <hr>
</div>

{% stylesheet %}
  h2{
  text-align:center;
  padding: 20px;
  text-transform: uppercase;
  }
  b{
  color: red;
  }
  /* Slider */
  .slick-slide {
  margin: 0px 20px;
  }
  .slick-slide img {
  width: 100%;
  }
  /*
  .slick-slider
  {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  } */
  .slick-list
  {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
  .slick-list:focus
  {
  outline: none;
  }
  .slick-list.dragging
  {
  cursor: pointer;
  cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  .slick-track
  {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
  display: table;
  content: '';
  }
  .slick-track:after
  {
  clear: both;
  }
  .slick-loading .slick-track
  {
  visibility: hidden;
  }
  .slick-slide
  {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
  float: right;
  }
  .slick-slide img
  {
  display: block;
  }
  .slick-slide.slick-loading img
  {
  display: none;
  }
  .slick-slide.dragging img
  {
  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
  display: block;
  }
  .slick-loading .slick-slide
  {
  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
  display: block;
  height: auto;
  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
  display: none;
  }
{% endstylesheet %}

{% schema %}
{
   "name": "Logo Slider",
   "max_blocks": 20,
   "settings": [
     {
       "type": "select",
       "id": "slideshow_width",
       "label": "Layout",
       "options": [
         {
           "value": "full",
           "label": "Full-width"
         },
         {
           "value": "contained",
           "label": "Contained"
         }
       ],
       "default": "full"
     },
  {
       "type": "checkbox",
       "id": "show_brands_slider",
       "label": "Enable brands slider",
	"default": true
     },

     {
       "type": "header",
       "content": "Info"
     },
     {
       "type": "paragraph",
       "content": "You may upload up to 25 brands"
     },
  {
       "type": "paragraph",
       "content": "Please try to use the same pixel size for all images - I've suggested 133px by 73px but you can use whatever other size you want"
     }

],
    "blocks" : [
     {
       "type": "brand",
       "name": "Brand",
       "settings": [
     {
       "type": "header",
       "content": "Brand"
     },
     {
       "type": "image_picker",
       "id": "slideshow_image",
       "label": "Image",
	"info": "133 x 73px png recommended"
     },
     {
       "type": "url",
       "id": "brand_link",
       "label": "Link URL"
     }
  ]
	 }
],
 "presets": [{
   "name": "Logo Slideshow",
   "category": "Image",
   "settings": {
   },
   "blocks": [
     {
       "type": "brand"
     },
     {
       "type": "brand"
     },
     {
       "type": "brand"
     },
     {
       "type": "brand"
     }
   ]
 }]
}
{% endschema %}

{% javascript %}
  $('.logos-slider').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 1500,
  arrows: false,
  dots: false,
  pauseOnHover: false,
  responsive: [{
  breakpoint: 768,
  settings: {
  slidesToShow: 3
  }
  }, {
  breakpoint: 520,
  settings: {
  slidesToShow: 2
  }
  }]
  });
{% endjavascript %}
