<div class="sponsor-slider-wrapper">
  <div class="sponsor-slider slide-1">
    <div class="item">
      <a href="#">
        <img src="https://www.pngarts.com/files/3/Logo-PNG-Image-Background.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://logodownload.org/wp-content/uploads/2020/10/garena-logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://pngimg.com/uploads/nike/nike_PNG12.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="http://assets.stickpng.com/images/585990234f6ae202fedf28cf.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://logos-world.net/wp-content/uploads/2021/02/Sky-Logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img
          src="https://purepng.com/public/uploads/large/purepng.com-disney-logologobrand-logoiconslogos-251519939495wtv86.png"
          alt="img"
        >
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Arena_of_Valor_logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://www.pngall.com/wp-content/uploads/2016/06/Superman-Logo-Free-Download-PNG.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img
          src="https://blackpinkupdate.com/wp-content/uploads/2020/06/BLACKPINK-Logo-PNG-Transparent-Black.png"
          alt="img"
        >
      </a>
    </div>
  </div>
  <!-- Write the sponsor-slider twice to make it repeat smoothly -->
  <div class="sponsor-slider slide-2">
    <div class="item">
      <a href="#">
        <img src="https://www.pngarts.com/files/3/Logo-PNG-Image-Background.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://logodownload.org/wp-content/uploads/2020/10/garena-logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://pngimg.com/uploads/nike/nike_PNG12.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="http://assets.stickpng.com/images/585990234f6ae202fedf28cf.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://logos-world.net/wp-content/uploads/2021/02/Sky-Logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img
          src="https://purepng.com/public/uploads/large/purepng.com-disney-logologobrand-logoiconslogos-251519939495wtv86.png"
          alt="img"
        >
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Arena_of_Valor_logo.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://www.pngall.com/wp-content/uploads/2016/06/Superman-Logo-Free-Download-PNG.png" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img
          src="https://blackpinkupdate.com/wp-content/uploads/2020/06/BLACKPINK-Logo-PNG-Transparent-Black.png"
          alt="img"
        >
      </a>
    </div>
  </div>
</div>

{% stylesheet %}
  .sponsor-slider-wrapper{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    height: 100px;
  }

  @keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }
  @keyframes slide-2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
  }

  .sponsor-slider{
    width: auto;
    position: absolute;
    white-space: nowrap;

  }
  .sponsor-slider .item{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-left: -4px;
  }
  .sponsor-slider .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slide-1{
    animation: slide 12s infinite linear;
  }
  .slide-2{
    animation: slide-2 12s infinite linear;
  }
{% endstylesheet %}

{% schema %}
{
   "name": "Logo Slider",
   "max_blocks": 20,
   "settings": [
     {
       "type": "select",
       "id": "slideshow_width",
       "label": "Layout",
       "options": [
         {
           "value": "full",
           "label": "Full-width"
         },
         {
           "value": "contained",
           "label": "Contained"
         }
       ],
       "default": "full"
     },
  {
       "type": "checkbox",
       "id": "show_brands_slider",
       "label": "Enable brands slider",
	"default": true
     },

     {
       "type": "header",
       "content": "Info"
     },
     {
       "type": "paragraph",
       "content": "You may upload up to 25 brands"
     },
  {
       "type": "paragraph",
       "content": "Please try to use the same pixel size for all images - I've suggested 133px by 73px but you can use whatever other size you want"
     }

],
    "blocks" : [
     {
       "type": "brand",
       "name": "Brand",
       "settings": [
     {
       "type": "header",
       "content": "Brand"
     },
     {
       "type": "image_picker",
       "id": "slideshow_image",
       "label": "Image",
	"info": "133 x 73px png recommended"
     },
     {
       "type": "url",
       "id": "brand_link",
       "label": "Link URL"
     }
  ]
	 }
],
 "presets": [{
   "name": "Logo Slideshow",
   "category": "Image",
   "settings": {
   },
   "blocks": [
     {
       "type": "brand"
     },
     {
       "type": "brand"
     },
     {
       "type": "brand"
     },
     {
       "type": "brand"
     }
   ]
 }]
}
{% endschema %}

{% javascript %}
  $('.logos-slider').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 1500,
  arrows: false,
  dots: false,
  pauseOnHover: false,
  responsive: [{
  breakpoint: 768,
  settings: {
  slidesToShow: 3
  }
  }, {
  breakpoint: 520,
  settings: {
  slidesToShow: 2
  }
  }]
  });
{% endjavascript %}
